{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":1,"column":0},"action":"remove","lines":["<<<<<<<<< saved version",""],"id":2},{"start":{"row":72,"column":0},"end":{"row":74,"column":23},"action":"remove","lines":["=========","",">>>>>>>>> local version"]}]]},"ace":{"folds":[],"scrolltop":300,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":16,"state":"start","mode":"ace/mode/text"}},"timestamp":1577966278199,"hash":"e59d2dff21e881c5fd4b64a34d34b4be99d49090"}