{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","ace":{"folds":[],"scrolltop":615.5,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":66,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"36b2322db60e4925d90d0dd75b698ac8c2c7554b","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1577354255119}