{% extends 'base.html' %} {% block content %}

<div class="container add-brand">
  <h4>Add a New Brand</h4>
  <form action="{{ url_for('insert_brand') }}" method="POST" class="brand-form">
    <div class="row">
      <span>*</span><span>All fields are required</span>
    </div>
    <div class="input-field col s12">
      <i class="material-icons prefix">subject</i>
      <input id="brand" name="brand" type="text" data-length="20" required>
      <label for="ramen_brand">Add a New Brand</label>
    </div>
    <div class="row">
      <div class="col s12 m6">
        <button class="btn waves-effect waves-light orange" type="submit" name="action">Add Brand
        <i class="material-icons right">send</i>
      </button>
      </div>
      <div class="col s12 m6">
        <a href="{{url_for('add_ramen')}}" class="btn"><i class="material-icons right">cancel</i>Cancel</a>
      </div>
    </div>
  </form>
</div>

{% endblock %}