<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Poppins|Roboto&display=swap" rel="stylesheet">
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon" />
  <link rel="stylesheet" href="/static/styles/styles.css" type="text/css" />

  <!-- Meta Data -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Insta Ramen">
  <meta name="keywords" content="Noodles, Ramen, Instant, Cup, Bowl, Packet">
  <meta name="author" content="Linda Hsu">

  <title>InstaRamen - {{ title }} </title>
</head>

<body>
  <header>
    <nav>
      <div class="nav-wrapper">
        <a href="{{url_for('index')}}" class="brand-logo"><img class="ramen_logo" src="{{ url_for('static', filename='images/noodle_icon.png') }}" alt="Ramen noodles with chopsticks logo"/></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="{{url_for('index')}}">Home</a></li>
          <li><a href="{{url_for('add_ramen')}}">Add Ramen</a></li>
          <li><a href="{{url_for('get_ramen')}}">Ramen Collection</a></li>
          <li><a href="{{url_for('get_brands')}}">Ramen Brands</a></li>
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Ramen Around The World<i class="material-icons right">arrow_drop_down</i></a>
            <ul id="dropdown1" class="dropdown-content">
              <li><a href="{{ url_for('ramen_asia') }}">Asia</a></li>
              <li><a href="{{ url_for('ramen_americas') }}">The Americas</a></li>
              <li><a href="{{ url_for('ramen_europe') }}">Europe</a></li>
              <li><a href="{{ url_for('ramen_rest_world') }}">Rest Of The World</a></li>
            </ul>
          </li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="{{url_for('index')}}">Home</a></li>
          <li><a href="{{url_for('add_ramen')}}">Add Ramen</a></li>
          <li><a href="{{url_for('get_ramen')}}">Ramen Collection</a></li>
          <li><a href="{{url_for('get_brands')}}">Ramen Brands</a></li>
          <li><a href="{{ url_for('ramen_asia') }}">Ramen from Asia</a></li>
          <li><a href="{{ url_for('ramen_americas') }}">Ramen from The Americas</a></li>
          <li><a href="{{ url_for('ramen_europe') }}">Ramen from Europe</a></li>
          <li><a href="{{ url_for('ramen_rest_world') }}">Ramen from Rest Of The World</a></li>
        </ul>
      </div>
    </nav>
  </header>

  {% block content %} {% endblock %}
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <div class="website-info">
            <a href="{{url_for('index')}}" class="brand-logo"><img class="ramen_logo" src="{{ url_for('static', filename='images/noodle_icon.png') }}" alt="Ramen noodles with chopsticks logo"/></a>
            <a href="{{url_for('index')}}" class="white-text">InstaRamen</a>
          </div>
          <p class="grey-text text-lighten-4">&copy; Designed by Linda Hsu, 2019</p>
          <p>For educational purpose</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5>Keep In Touch</h5>
          <span><a href="https://github.com/Paddlepop25" target="_blank" class="white-text"><i class="fab fa-github fa-2x"></i></a></span>
          <span><a href="https://www.linkedin.com/in/lindahsu007/" target="_blank" class="white-text"><i class="fab fa-linkedin-in fa-2x"></i></a></span>
          <span><a href="https://twitter.com/shecodeshsucode" target="_blank" class="white-text"><i class="fab fa-twitter fa-2x"></i></a></span>
          <span><a href="https://www.instagram.com/shecodeshsucodes/" target="_blank" class="white-text"><i class="fab fa-instagram fa-2x"></i></a></span>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <!--<script type="text/javascript" src="./static/scripts/app.js"></script>-->
  <script type="text/javascript">
    $(document).ready(function() {
      $(".button-collapse").sideNav();
      $('select').material_select();
      $(".dropdown-button").dropdown();
    });
  </script>
</body>

</html>
