{% extends 'base.html' %} {% block content %}

<div class="container display-page">
  <div class="row">
    <div class="col s12 m5">
      <img src="{{url_for('file', filename=ramen['imageURL'])}}">
    </div>
    <div class="col s12 m7 display-details">
      <p class="display-brand">Brand: {{ramen.brand|title}}</p>
      <p>Flavour:
        <br>{{ramen.flavour|title}}
      </p>
      <p>Style: {{ramen.style}}</p>
      <p>Country of Origin: {{ramen.country}}</p>
      <p>Stars: {{ramen.stars}}</p>
      <p>Review:
        <br>{{ramen.reviews}}
      </p>
    </div>
  </div>

  <div class="row display-edit-delete">
    <div class="col s12 m6">
      <a href="{{url_for('edit_ramen', ramen_id=ramen._id)}}" class="waves-effect waves-light btn orange"><i class="material-icons right">playlist_add</i>Edit</a>
    </div>
    <div class="col s12 m6">
      <a href="{{url_for('delete_ramen', ramen_id=ramen._id)}}" class="btn orange"><i class="material-icons right">cancel</i>Delete</a>
    </div>
  </div>
</div>
{% endblock %}
