{% extends 'base.html' %} {% block content %}

<div class="container display-page">
  <div class="row">
    <div class="col s12 m5">
      <img src="/static/images/noodle1.jpg">
    </div>
    <div class="col s12 m7 display-details">
      <p class="display-brand">Brand: {{ramen.Brand|capitalize}}</p>
      <p>Flavour:
        <br>{{ramen.Flavour|capitalize}}
      </p>
      <p>Style: {{ramen.Style}}</p>
      <p>Country of Origin: {{ramen.Country}}</p>
      <p>Stars: {{ramen.Stars}}</p>
      <p>Reviews:
        <br>{{ramen.Ratings}}
      </p>
    </div>
  </div>


  <div class="row display-edit-delete">
    <div class="col s12 m6">
      <a href="{{url_for('edit_ramen', ramen_id=ramen._id)}}" class="waves-effect waves-light btn orange"><i class="material-icons right">playlist_add</i>Edit</a>
    </div>
    <div class="col s12 m6">
      <a href="{{url_for('get_ramen')}}" class="btn orange"><i class="material-icons right">cancel</i>Delete</a>
    </div>
  </div>

</div>
{% endblock %}
