{% extends 'base.html' %} {% block content %}

<div class="container error-page">
    <h4>Yikes!</h4>
    <div class="row">
        <div class="col s12">
            <img src="{{ url_for('static', filename='images/shocked-cat.jpg') }}" alt="shocked cat with big round eyes">
        </div>
        <div class="row">
            <div class="col s12">
            <p>Something went wrong.
            <br>
            Click to go back to the main page</p>
            <a href="{{url_for('index')}}" class="waves-effect waves-light btn orange">
                <i class="material-icons right">home</i>Home</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
