<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>

<body>
  <header>
    <nav>
      <div class="nav-wrapper">
        <a href="{{url_for('home_page')}}" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="{{url_for('award_winning')}}">Award Winning Ramen</a></li>
          <li><a href="{{url_for('get_ramen')}}">Ramen Around The World</a></li>
          <li><a href="{{url_for('add_ramen')}}">Add Ramen</a></li>
          <li><a href="{{url_for('add_brands')}}">Manage Ramen Brands</a></li>
        </ul>
      </div>
    </nav>
  </header>
  {% block content %} {% endblock %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <!--<script type="text/javascript" src="./static/scripts/app.js"></script>-->
  <script type="text/javascript">
  $(document).ready(function(){
    $('select').material_select();
  });
  </script>
</body>

</html>
