{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
  <img src="static/images/noodle_index.jpeg" width="100%"></img>
  <div class="container">
    <div class="row">
      <h1>Welcome to Insta-Ramen!</h1>
      <h2>Welcome to Insta-Ramen!</h2>
      <h3>Welcome to Insta-Ramen!</h3>
      <h4>Welcome to Insta-Ramen!</h4>
      <h5>Welcome to Insta-Ramen!</h5>
      
    </div>
    <div class="row">
      <form class="col s12" action="{{ url_for('search_ramen') }}">
        <div class="row">
          <div class="input-field col s12">
            <input id="search" name="query" type="text" class="validate">
            <label for="search">Search for Ramen flavours</label>
            <div class="search-button">
              <button class="btn waves-effect waves-light blue lighten-1" type="submit" name="action">Search</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
    ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit
    augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.
    Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit
    litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
</div>

<div class="container">
<div class="row">
{% for top_three_ramen in top_three | sort (attribute='Stars', reverse = True) %}
  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-image">
        <img src="./static/images/noodle1.jpg">
        <span class="card-title">Card Title</span>
      </div>
      <div class="card-content">
        <p>Brand: {{top_three_ramen.Brand}}</p>
        <p>Flavour: {{top_three_ramen.Flavour}}</p>
        <p>Country of Origin: {{top_three_ramen.Country}}</p>
        <p>Stars: {{top_three_ramen.Stars}}</p>
        <p>Ratings: {{top_three_ramen.Ratings}}</p>
      </div>
      <div class="card-action">
        <a href="{{url_for('display_ramen', ramen_id=top_three_ramen._id)}}" class="waves-effect waves-light btn">More</a>
      </div>
    </div>
  </div>
{% endfor %} 
</div>

</div>



{% endblock %}