{% extends 'base.html' %} {% block content %}

<div class="container america-page">
  <h4>The Amercias Ramen Collection</h4>
  <div class="row">
    {% for ramen in ramens | sort (attribute='Country') %}
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="./static/images/noodle1.jpg">
        </div>
        <div class="card-content">
          <p>Brand:
            <br>{{ramen.Brand|capitalize}}
          </p>
          <br>
          <p>Flavour:
            <br>{{ramen.Flavour|capitalize}}
          </p>
          <br>
          <p>Country:
            <br>{{ramen.Country|capitalize}}
          </p>
        </div>
        <div class="row">
          <a href="{{url_for('display_ramen', ramen_id=ramen._id)}}" class="waves-effect waves-light btn orange">More</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}