{% extends 'base.html' %} {% block content %}

<div class="container europe-page">
  <h4>The Europe Ramen Collection</h4>
  <div class="row">
    {% for ramen in ramens | sort (attribute='country') %}
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="./static/images/noodle1.jpg">
        </div>
        <div class="card-content">
          <p>Country: {{ramen.country|title}}</p>
          <br>
          <p>Brand: {{ramen.brand|title}}</p>
           <br>
          <p>Flavour: {{ramen.flavour|title}}</p>
        </div>
        <div class="row">
          <a href="{{url_for('display_ramen', ramen_id=ramen._id)}}" class="waves-effect waves-light btn orange">More</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}