{% extends 'index.html' %}
{% block content %}

<h3>Display Ramen</h3>

    {% for selection in selections %}
        <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="./static/images/noodle1.jpg">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
            <p>Brand: {{selection.Brand}}</p>
            <p>Flavour: {{selection.Flavour}}</p>
            <p>Style: {{selection.Style}}</p>
            <p>Country of Origin: {{selection.Country}}</p>
            <p>Stars: {{selection.Stars}}</p>
        </div>
        <div class="card-action">
          <a href="{{url_for('edit_ramen', selection_id=selection._id)}}">Edit ramen</a>
          <a href="{{url_for('delete_ramen', selection_id=selection._id)}}">Delete ramen</a>
        </div>
      </div>
    </div>
  </div>
  
 
    {% endfor %}   
    

  
{% endblock %}