{% extends 'base.html' %} {% block content %}

<h3>The Entire Ramen Collection</h3>
<div class="row">
{% for ramen in ramens %}
  <div class="col s12 m6 l3">
    <div class="card">
      <div class="card-image">
        <img src="./static/images/noodle1.jpg">
        <span class="card-title"></span>
      </div>
      <div class="card-content">
        <p>Brand: {{ramen.Brand}}</p>
        <p>Flavour: {{ramen.Flavour}}</p>
      </div>
      <div class="card-action">
        <a href="{{url_for('display_ramen', ramen_id=ramen._id)}}" class="waves-effect waves-light btn">More</a>
      </div>
    </div>
  </div>
{% endfor %} 
</div>

{% endblock %}