{% extends 'base.html' %} {% block content %}

<div class="row">
{% for top_five_ramen in five_ramens | sort (attribute='Stars', reverse = True) %}
  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-image">
        <img src="./static/images/noodle1.jpg">
        <span class="card-title">Card Title</span>
      </div>
      <div class="card-content">
        <p>Brand: {{top_five_ramen.Brand}}</p>
        <p>Flavour: {{top_five_ramen.Flavour}}</p>
        <p>Country of Origin: {{top_five_ramen.Country}}</p>
        <p>Stars: {{top_five_ramen.Stars}}</p>
      </div>
      <div class="card-action">
        <a href="{{url_for('display_ramen', ramen_id=top_five_ramen._id)}}" class="waves-effect waves-light btn">More</a>
      </div>
    </div>
  </div>
{% endfor %} 
</div>


{% endblock %}