body {
    font-size: 16px;
}

h1 {

}

h2 {
       font-family: 'Gloria Hallelujah', cursive;

}

h3 {
font-family: 'Poppins', sans-serif;

}

h4 {
font-family: 'Montserrat Subrayada', sans-serif;

}

h5 {
    font-family: 'Scada', sans-serif; 
}


.ramen_logo {
    width: 2.8rem;
    margin-left: 20px;
    margin-top: 10px;
}

.ramen_form {
    border: 2px solid black;
    border-radius: 25px;
    box-shadow: 2px 2px 8px grey;
    margin: 100px auto;
    padding: 20px;
}
