body {
    font-size: 16px;
    font-family: 'Poppins', cursive;
    /*background: #FFF5E6;*/
}

.noodle_img_index img {
    width: 100vw;
    opacity: 0.8;
}

.nav-wrapper ul li:last-child li a {
    color: #ef6c00;
}

.nav-wrapper ul li a {
    color: #000000;
}

.welcome-page {
    text-align: center;
}

.welcome-page h1 {
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 0;
}

.welcome-message {
    position: relative;
    top: -68px;
}

.welcome-message p {
    padding: 0 25px;
    font-size: 1rem;
}

.search-section {
    position: relative;
    top: -35px;
}

.search-button button {
    width: 60%;
    border-radius: 15px;
}

.search-button button:hover {
    color: #000000;
}

.ramen_logo {
    width: 2.8rem;
    margin-left: 20px;
    margin-top: 10px;
}

.card .card-content {
    padding: 24px 10px;
}

.index-page-card {
    position: relative;
    top: -70px;
}

.index-page-card .card .card-content {
    overflow-y: scroll;
    min-height: 200px;
}

.index-page-card h4 {
    font-size: 1.8rem;
}

.index-page-card .card-content {
    text-align: center;
}

.index-page-card a {
    position: relative;
    width: 60%;
    margin: 0 0 5% 20%;
    border-radius: 15px;
}

.index-page-card a:hover {
    color: #000000;
}

.add-ramen h4 {
    position: relative;
    top: 90px;
    text-align: center;
}

.ramen-form {
    border: 2px solid black;
    border-radius: 25px;
    box-shadow: 2px 2px 8px grey;
    margin: 100px auto;
    padding: 20px;
}

.edit-ramen h4 {
    position: relative;
    top: 90px;
    text-align: center;
}

.edit-ramen {
    border: 2px solid black;
    border-radius: 25px;
    box-shadow: 2px 2px 8px grey;
    margin: 100px auto;
    padding: 20px;
}

/*Footer*/

footer a,
p,
small {
    color: #000000;
}

.page-footer {
    padding-bottom: 20px;
}

.page-footer a:last-child:hover {
    color: #ffffff;
}

.footer-logo {
    text-align: center;
}

.footer-logo p {
    position: relative;
    top: -8px;
    padding: 0px 18px;
}

.footer-logo small {
    position: relative;
    top: -25px;
}

.footer-social {
    text-align: center;
}

.footer-social a:hover {
    color: #ffffff;
}

.footer-social p:first-child {
    margin-top: 0;
    margin-bottom: 7px;
}

.footer-social span {
    margin-right: 10px;
}

.design {
    margin-top: 15px;
    margin-bottom: 0;
}

.footer-social small {
    position: relative;
    top: -5px;
}

/* Add Ramen Page*/

.dropdown-content li>a,
.dropdown-content li>span {
    color: #ef6c00;
}

.select-brand p {
    margin-top: -20px;
}

.select-brand a {
    width: 100%;
    border-radius: 15px;
}

.select-packaging {
    position: relative;
    top: -20px;
}

.select-country-stars {
    position: relative;
    top: -15px;
}

.select-country-stars .stars {
    position: relative;
    top: 9px;
}

.select-reviews {
    position: relative;
    top: -15px;
}

.select-submit button {
    position: relative;
    top: -25px;
    width: 100%;
    border-radius: 15px;
}

.select-submit a {
    width: 100%;
    border-radius: 15px;
}

/* Ramen Collection Page */

.ramen-collection-page h4 {
    font-size: 2.5rem;
    text-align: center;
}

.ramen-collection-page .card .card-content {
    overflow-y: scroll;
    min-height: 230px;
}

.ramen-collection-page h4 {
    font-size: 1.8rem;
}

.ramen-collection-page .card-content {
    text-align: left;
}

.ramen-collection-page a {
    position: relative;
    width: 60%;
    margin: 0 0 5% 20%;
    border-radius: 15px;
}

.ramen-collection-page a:hover {
    color: #000000;
}


/* Display Page */

.display-page img {
    width: 100%;
    margin-top: 40px;
}

.display-page p {
    padding-left: 30px;
    padding-right: 30px;
}

.display-edit-delete a {
    width: 100%;
    border-radius: 10px;
}

.display-edit-delete div:first-child {
    position: relative;
    top: -15px;
}

/* Asia Collection */

.asia-page h4 {
    font-size: 2.5rem;
    text-align: center;
}

.asia-page .card .card-content {
    overflow-y: scroll;
    min-height: 230px;
}

.asia-page h4 {
    font-size: 1.8rem;
}

.asia-page .card-content {
    text-align: left;
}

.asia-page a {
    position: relative;
    width: 60%;
    margin: 0 0 5% 20%;
    border-radius: 15px;
}

.asia-page a:hover {
    color: #000000;
}

/* Europe page */

.europe-page h4 {
    font-size: 2.5rem;
    text-align: center;
}

.europe-page .card .card-content {
    overflow-y: scroll;
    min-height: 230px;
}

.europe-page h4 {
    font-size: 1.8rem;
}

.europe-page .card-content {
    text-align: left;
}

.europe-page a {
    position: relative;
    width: 60%;
    margin: 0 0 5% 20%;
    border-radius: 15px;
}

.europe-page a:hover {
    color: #000000;
}

/* The Americas page */

.america-page h4 {
    font-size: 2.5rem;
    text-align: center;
}

.america-page .card .card-content {
    overflow-y: scroll;
    min-height: 230px;
}

.america-page h4 {
    font-size: 1.8rem;
}

.america-page .card-content {
    text-align: left;
}

.america-page a {
    position: relative;
    width: 60%;
    margin: 0 0 5% 20%;
    border-radius: 15px;
}

.america-page a:hover {
    color: #000000;
}

/* The Rest Of The World page */

.rest-world-page h4 {
    font-size: 2.5rem;
    text-align: center;
}

.rest-world-page .card .card-content {
    overflow-y: scroll;
    min-height: 230px;
}

.rest-world-page h4 {
    font-size: 1.8rem;
}

.rest-world-page .card-content {
    text-align: left;
}

.rest-world-page a {
    position: relative;
    width: 60%;
    margin: 0 0 5% 20%;
    border-radius: 15px;
}

.rest-world-page a:hover {
    color: #000000;
}

@media (min-width: 601px) {
    .index-page-card .card .card-content {
        overflow-y: scroll;
        min-height: 290px;
    }

    .welcome-page h1 {
        font-size: 2.8rem;
    }

    .welcome-message p {
        font-size: 1.1rem;
    }

    .index-page-card h4 {
        font-size: 2.5rem;
        text-align: center;
    }
    .footer-social {
        position: relative;
        top: 4.5vh;
    }

    .ramen-form {
        padding: 60px;
    }

    .select-brand a {
        width: 40%;
    }

    .select-flavour {
        position: relative;
        top: -55px;
    }

    .select-country-stars {
        position: relative;
        top: -60px;
    }

    .select-reviews {
        position: relative;
        top: -80px;
    }

    .display-details p {
        padding-left: 50px;
    }

    .display-brand {
        padding-top: 30px
    }


    .display-edit-delete div:first-child {
        position: relative;
        top: 0;
    }

}

@media (min-width: 601px) {
    .index-page-card .card .card-content {
        overflow-y: scroll;
        min-height: 240px;
    }

    .select-brand a {
        position: relative;
        left: 250px;
        bottom: 54px;
    }

    .select-packaging {
        position: relative;
        top: -65px;
    }

    .select-submit button {
        position: relative;
        top: -80px;
    }

    .select-submit a {
        position: relative;
        top: -80px;
    }

}

@media (min-width: 993px) {
    .welcome-page h1 {
        font-size: 3rem;
    }

    .index-page-card h4 {
        font-size: 2.7rem;
    }
}

@media (min-width: 1200px) {
    .welcome-page h1 {
        font-size: 3.3rem;
    }
    .index-page-card h4 {
        font-size: 3rem;
    }
    .index-page-card .card .card-content {
        overflow-y: scroll;
        min-height: 220px;
    }
}


@media (min-width: 1022px) {
    .footer-social {
        position: relative;
        top: 3vh;
    }
}

@media (min-width: 1450px) {
    .footer-social {
        position: relative;
        top: 1.5vh;
    }
}
